@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.site-header {
    width: 100%;
    position:fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    z-index: 3;
    }

.logo {
    width: 65px;
    height: 65px;
    padding: 30px;
    margin-left: 100px;
    }

a {
    color: inherit;
    text-decoration: none;
}

.menu-list {
    display: flex;
    flex-direction: row;  
    align-items: center;  
    
}
    
.menu-button {
    padding: 0.5em 1em;
    background-color:#7AE5FD;
    border-radius: 87px;
    text-transform: uppercase;

}

.menu-item {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    padding: 20px;
    margin:0 24px;
    font-size:20px;
    gap:56px;
    
 }

.first-screen {
    width: 100vw;
    height: 100vw;
    background-color: #f1fdffb2;
    ;
}

.name-event {
    width: 698px;
    height: 264px;
    position:absolute;
    top: 200px;
    left:100px;
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 93px;
    color:#9AD2DE;
    text-transform: uppercase;
    line-height: 87px;
    z-index: 2;
}

.text-about-event {
    width: 484px;
    height: 48px;
    position:absolute;
    top: 528px;
    left:101px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-transform:none;
    line-height: 24px;
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
 }

  .fond-woman {
    width: 840px;
    height: 796px;
    top:-30px;
    left: 475px;
    position: absolute;
    z-index: 2;
    max-width: 100%;
    
}


.vector{
    width: 2190px;
    height: 880px;
    position:absolute;
    top: -74px;
    left: 472px;
    bottom: 10%;
    z-index: 1;
    max-width: 100%
}
